/* --imperial-red: hsla(355, 78%, 56%, 1);
--honeydew: hsla(105, 55%, 96%, 1);
--powder-blue: hsla(182, 43%, 76%, 1);
--celadon-blue: hsla(203, 39%, 44%, 1);
--prussian-blue: hsla(215, 50%, 23%, 1); */
#home-body {
    background-color: var(--celadon-blue);
    width: min(95vw, 900px);
}

#home-body :is(h4, h2) {
    color: white;
}

.artist-pic {
    content: '';
    margin: 0 auto;
    width: 100%;
    height: 270px;
    background-size: cover;
}

.card {
    transform: scale(0.9);
    transition: ease 1s all;
    cursor: pointer;
}

.card:hover {
    transform: scale(1);
}