:root {
    --imperial-red: hsla(355, 78%, 56%, 1);
    --honeydew: hsla(105, 55%, 96%, 1);
    --powder-blue: hsla(182, 43%, 76%, 1);
    --celadon-blue: hsla(203, 39%, 44%, 1);
    --prussian-blue: hsla(215, 50%, 23%, 1);
}

body {
    font-family: 'Josefin Sans', sans-serif !important;
    background-color: var(--powder-blue);
}

h1, h2, h3, h4, .title {
    font-family: 'Dancing Script', cursive !important;
}

#outdoor {
    background-color: var(--celadon-blue);
    color: white;
    height: 28vh;
    position: relative;
    z-index: -2;
    overflow: hidden;
}

#outdoor h1 {
    font-size: 2.5rem;
    background-color: rgba(68, 122, 156, 0.5);
}

#outdoor img {
    width: 30vh;
    position: absolute;
    z-index: -1;
}

#menu {
    background-color: var(--imperial-red) !important;
}

#menu a {
    color: white !important;
}

#menu button .navbar-toggler-icon {
    border-color: white;
    color: white !important;
    border-color: white !important;
}